<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-gradient-orange"></div>
    <div class="hero-gradient-green"></div>

    <div class="hero-main-box">
      <h1 class="hero-title">Digitally forward creative</h1>
      <p class="hero-description">Our biggest challenge is making sure we're always designing and building products that will help you run your business better.</p>
      <p class="hero-description-desk">
        When it comes to interactive marketing, we've got you covered.
Be where the world is going
      </p>
      <form class="hero-form">
        <input class="hero-input"
          type="text"
          placeholder="Enter your email"
        />
        <button class="hero-form-btn" type="submit">Try for free</button>
      </form>
    </div>
    <div class="hero-img-box">
      <div class="hero-sales-box">
        <h2 class="hero-subtitle-sales">Sales Report</h2>
        <img class="hero-img-sales" width="294" height="208" src="../img/Sales-Figures-min.jpg" alt="">
      </div>
      <div class="hero-customer-box">
        <h2 class="hero-subtitle-customer">Customer Growth</h2>
        <svg class="hero-icon-customer"  width="82" height="98">
          <use href="./img/symbol-defs.svg#icon-Graph"></use>
        </svg>
      </div>
      <div class="hero-text-box">
        <div class="hero-text-sales-box">
          <h3 class="hero-text-sales">Sales</h3>
          <p class="hero-sum-sales">$31,092</p>
          <div class="hero-indicator-box">
            <svg class="hero-up-icon"  width="8" height="9">
              <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
            <p class="hero-interest-sales">4.2%</p>
            <p class="hero-period-sales">from last year</p>
          </div>
        </div>
        <div class="hero-text-marketing-box">
          <h3 class="hero-text-marketing">Marketing</h3>
          <p class="hero-sum-marketing">$29,128</p>
          <div class="hero-indicator-box">
            <svg class="hero-down-icon"  width="8" height="9">
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
            <p class="hero-interest-marketing">1.2%</p>
            <p class="hero-period-marketing">from last year</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


        


        

        
    
         
          
      