<section class="offer-container">
  <div class="container">
    <h2 class="offer-title">Sans help our client solve complex customer problems with date that does more.</h2>
    <p class="offer-text">Our platform offers the modern enterprise full control of how date can be access and used with industry leading software solutions for identity, activation, and date collaboration</p>
    <ul class="offer-list">
      <li class="offer-item">
        <svg class="offer-icon"  width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-schedule-task"></use>
        </svg>
        <h3 class="offer-subtitle">Build your date fundamental</h3>
        <p class="offer-description">Build access to date, develop valuable business insights and drive revenue while maintaining full control over access and use of date at all times.</p>
      </li>
      <li class="offer-item">
        <svg class="offer-icon"  width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-date-done"></use>
        </svg>
        <h3 class="offer-subtitle">Measure more effective</h3>
        <p class="offer-description">Effectively measure people-based campaigns with the freedom to choose from best-of breed partners to optimize and drive media innovation.</p>
      </li>
      <li class="offer-item">
        <svg class="offer-icon"  width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-date-list"></use>
        </svg>
        <h3 class="offer-subtitle">Activate your date</h3>
        <p class="offer-description">Accurately address your specific audiences at scale across any channel, platform, publisher or network and safely translate date between identity space to improve results.</p>
      </li>
      <li class="offer-item">
        <svg class="offer-icon"  width="20" height="21">
          <use href="./img/symbol-defs.svg#icon-date-ok"></use>
        </svg>
        <h3 class="offer-subtitle">Strengthen consumer privacy</h3>
        <p class="offer-description">Protect your customer date with leading privacy-preserving technologies and advanced techniques to minimize date movement while still enabling insight generation.</p>
      </li>
    </ul>
  </div>
</section>